.card {
    background-color: #212121 !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 10px !important;
}

.form-control {
    background-color: #121212 !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 5px !important;
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}